.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 165px;
}

.titulo {
    color: #000;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-block-end: 23px;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}